*.fastq*
.bpipe/*
commandlog.txt
test/data/
scripts/s1_ref
tutorial/data/*
scripts/\.Rhistory

*.pyc

*.groovy

tutorial/yaml_testing/
*.bpipe*
tutorial/data/fastq/renaming_log\.txt
tutorial/new_look/
test/
*.DS_Store
.Rproj.user
packrat/lib*/
packrat/src/
.vscode/