// Tools and tool homes //
PYDMX="/ccmb/BioinfCore/Collab/LauringLab/lauring-variant-pipeline/bin/pydmx-al.py"
PICARD_JARS="/scratch/alauring_fluxm/common/lib/picard-tools-1.115"

// Data and indexes //
//REFERENCE="/ccmb/BioinfCore/Collab/LauringLab/reference/bowtie2/pHW2000_PR8"
REFERENCE="/scratch/alauring_fluxm/common/reference/wsn33_H1N1_wt8plasmid"

// Parameters //
BARS="input/bars.csv"

