// Tools and tool homes //
PYDMX="/ccmb/BioinfCore/Collab/LauringLab/lauring-variant-pipeline/bin/pydmx-al.py"
PICARD_JARS="/home2/mccrone/lib/picard-tools-1.115"

// Data and indexes //
//REFERENCE="/ccmb/BioinfCore/Collab/LauringLab/reference/bowtie2/pHW2000_PR8"
REFERENCE="~/reference/bowtie2/pHW2000_PR8"

// Parameters //
BARS="input/bars.csv"

